<div class="container marketing" ng-Controller="authorController">

	<a href="#/addauthor"><button  class="btn btn-secondary" role="button" >ADD AUTHOR</button></a><br>
	<br>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Author Name</th>
                <th scope="col">Books</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="a in authors | orderBy: 'authorName'">
                <td ><!--{{a.authorId}}--> {{$index+1}}</th>
                <td scope="col">{{a.authorName}}</td>
                <td scope="col"><span ng-repeat="b in a.books track by $index">{{b.title==null?b.bookId:b.title}} <span ng-if="!$last">,</span> </span></td>
                <td scope="col"><button type="button" class="btn btn-secondary" ng-click="editAuthor(a)">Edit</button></td>
                <td scope="col"><button type="button" class="btn btn-dark" ng-click="deleteAuthor(a.authorId)">Delete</button></td>
            </tr>

        </tbody>
    </table>

</div>